.use {
  padding: 100px 0;
}

.use .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .use .container {
    flex-direction: column;
  }
}

.use > h3 {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: white;
}
.use > h3 span {
  color: #00ffaa;
}

.use .card {
  width: 32%;
  height: 750px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.22) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 30px;
  text-align: center;
}
@media (max-width: 991px) {
    .use .card{
   width: 100%;
  }
}

.use .card img {
  margin-top: 71px;
}

.use .card h3 {
  font-weight: normal;
  color: white;
  margin-top: 42px;
  font-size: 35px;
}

.use .card p {
  color: white;
  margin-top: 35px;
  width: 80%;
  margin: auto;
}
